/*font-family: 'Libre Baskerville', serif;

font-family: 'Oxygen', sans-serif; */

:root {
    --primary-color: #f48db4;
    --secondary-color: #fafafa;
    --default-font-family: "Oxygen", sans-serif;
    --heading-font-family: "Libre Baskerville", serif;
}

html {
    border: 3px solid black;
}

body {
    border: 5px solid black;
    margin: 0;
    font-family: var(--default-font-family);
}

h1, 
h2, 
h3, 
h4 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    line-height: 1.5;
}

p {
    font-family: var(--default-font-family);
    line-height: 30px;
}

.navbar {
    background: black;
}
.navbar-nav {
    position: absolute;
    right: 0;
}

.nav-item {
    padding: 8px;
}

.nav-link {
    color: var(--secondary-color);
}

.active {
    color: var(--primary-color);
}

.navbar-brand {
    border: 1px solid var(--secondary-color);
    padding: 4px;
    color: var(--primary-color) !important;
}

.hero {
    color: var(--secondary-color);
    text-align: center;
    background-color: black;
    padding: 120px 30px;
    margin: 0;
}

.hero h1 {
    margin: 0;
    color: var(--primary-color);
    font-size: 96px;
    line-height: 2;
}

.hero h2 {
    margin: 0;
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
}

.hero h3 {
    margin: 0;
    font-family: var(--default-font-family);
    font-size: 36px;
}

.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 26px;
    padding: 15px 30px;
    text-decoration: none;
}

.btn-branding-outline {
    color: grey;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    line-height: 26px;
    padding: 15px 30px;
    text-decoration: none;
}

.project-description {
    padding: 100px 60px;
}

.project-image {
    padding-top: 20px;
}

.about-hero {
    color: var(--secondary-color);
    text-align: center;
    background-color: black;
    padding: 60px 30px;
    margin: 0;
}

.about-hero h1 {
    margin: 0;
    color: var(--primary-color);
    font-size: 96px;
    line-height: 2;
}

.about-hero h2 {
    margin: 0;
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
}

.about-section h1 {
    text-align: center;
    padding: 30px;
}

.image-placeholder {
    padding: 20px 40px;
}

.my-image {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    width: 500px;
}

.about-information {
    font-size: 20px;
    padding: 40px;
    line-height: 1.5;
}

.contact-container {
    font-family: var(--default-font-family);
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
    background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
}

.contact-container h3 {
    font-family: var(--default-font-family);
    text-transform: uppercase;
}

.future-project-description {
    padding: 40px 60px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: grey;
    margin: 60px 0;
}

.email-link {
    text-decoration: none;
    color: grey;
    font-size: 24px;
    line-height: 2;
}

footer .social-links a {
    margin: 0 15px;
    transition: all 150mx ease-in-out;
}

.icon {
    color: #ff347f;
    font-size: 40px;
    font-weight: bolder;
}

.icon:hover {
    font-size: 45px;
    color: var(--primary-color);
}


@media (max-width: 900px) {
    .hero {
        padding: 80px 20px;
    }

    .hero h1 {
        font-size: 50px;
        line-height: 1.5;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }

    .future-project-description {
        padding: 0;
        text-align: center;
    }
    
    footer {
        text-align: center;
        font-size: 10px;
        color: grey;
    }

    .icon {
        text-align: center;
    }

    .about-hero h1 {
        margin: 0;
        color: var(--primary-color);
        font-size: 50px;
        line-height: 1.5;
    }    
    
}